$primary-color: #00AD8C !default;
$secondary-color: #f2f4f8 !default;
$text-color: #02143D;
$bg-color: #fff !default;

$sidebar-color: #F6F7FC !default;
$sidebar-width: 300px !default;

$border-light: 1px solid rgba(0, 0, 0, 0.2) !important;
